@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
*,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-image: url(../img/login_bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;
}

body.reg {
    background-image: url(../img/reg_bg.png) !important;
}

body.loaded .preloader {
    display: none;
}

body.loaded .page-content {
    display: block;
}

body .page-content {
    display: none;
}

body.no-bg {
    background-image: none;
}

#code {
    position: fixed;
    bottom: 50px;
    right: -30px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 0.75em;
    color: #fff;
}

a {
    text-decoration: none;
}

a.skip {
    position: fixed;
    bottom: 10%;
    right: 50px;
    background-color: #cc0000;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
}

ul {
    margin: 0;
}

.alert-msg {
    border-radius: 0;
}


/* Customization Style of SyoTimer */

.syotimer {
    text-align: center;
    margin: 10px auto 0;
    padding: 0;
}

.syotimer-cell {
    display: inline-block;
    margin: 0 5px;
    width: 79px;
    background: url(../img/timer.png) no-repeat 0 0;
}

.syotimer-cell__value {
    font-size: 35px;
    color: #ffffff;
    height: 81px;
    line-height: 81px;
    margin: 0 0 5px;
}

.syotimer-cell__unit {
    font-size: 12px;
    text-transform: uppercase;
}

.right-area-wrapper {
    background-color: #f1f1f2;
    border-radius: 24px;
    padding: 3% 5%;
    margin: 10px auto;
    width: 90%;
}

.login-area-wrapper {
    background-color: #f1f1f2;
    border-radius: 24px;
    padding: 10px;
    margin: 0px auto;
    width: 100%;
}

.register-wrapper,
.login-wrapper {
    width: 80%;
    margin: 0 auto;
    color: #333333;
}

.register-wrapper h5,
.login-wrapper h5 {
    color: #626262;
}

.login-wrapper {
    width: 100%;
}

form label {
    text-transform: uppercase;
    display: block;
    font-size: 0.8em;
    font-weight: 500;
}

form .input {
    background-color: #e6e7e8;
    border: none;
    width: 100%;
    padding: 5px 10px;
}

form .input:focus {
    outline: 0;
}

form .form-cancel img {
    vertical-align: top;
}

form #btnLogin {
    background-color: #2d3d69;
    width: 96px;
    height: 41px;
    text-align: center;
    color: #fff;
}

#mobile-portrait {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    display: none;
}

.center-device {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
    transform: translate(-50%, -50%) scale(2.5);
    height: 50vh;
    max-height: 250px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 815px) and (orientation: portrait) {
    #mobile-portrait {
        display: block !important;
    }
}

.preloader {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 999999;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader--dot {
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}

.loader--dot:first-child {
    background-color: #8cc759;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
    background-color: #60beeb;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}

.loader--text:after {
    content: "Loading";
    font-weight: bold;
    -webkit-animation-name: loading-text;
    animation-name: loading-text;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    color: #333333;
}

@-webkit-keyframes loader {
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    65% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    95% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes loader {
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    65% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    95% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes loading-text {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
}

@keyframes loading-text {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
}

.videotoplay {
    z-index: 9999;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 0px);
    height: calc(100vh);
}

.videotoplay video {
    width: 100%;
    height: calc(100vh);
    -o-object-fit: cover;
    object-fit: cover;
}

.videotoplay .skip {
    position: absolute;
    bottom: 10%;
    right: 50px;
    background-color: #cc0000;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
}

.videotoplay .skip:hover {
    color: #fff;
    cursor: pointer;
}

#content {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: calc(100vh);
    overflow: hidden;
}

#content #header-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

#content #header-menu a {
    color: #424242;
    font-size: 1em;
}

#content #header-menu ul#attendance {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content #header-menu ul#attendance li {
    margin-bottom: 0;
    font-size: 0.75em;
    padding: 0 10px;
}

#content #bottom-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fff;
}

#content #bottom-menu .bottom-nav {
    padding: 4px 0;
}

#content #bottom-menu ul li i,
#content #bottom-menu ul li a {
    display: block;
    color: #424242;
    font-size: 1em;
    text-align: center;
    padding: 5px 10px;
}

#content #bottom-menu ul li i:hover,
#content #bottom-menu ul li a:hover {
    text-decoration: none;
}

#content #bottom-menu ul li i {
    position: relative;
}

#content #bottom-menu ul li i #chat-message {
    font-size: 0.75em;
}

#content #bg {
    position: relative;
    margin-top: 0px;
    background-color: #000;
    /*Bon DK*/
    /*ESOZ*/
    /*BON NXT*/
    /*BON K2*/
    /*Dubinor*/
    /*Milical OD3*/
    /*Dubinor Ointments*/
    /*BMD Camp*/
    /*EBOV PG*/
    /*VKONNECT HEALTH*/
}

#content #bg img {
    width: 100%;
    height: auto;
}

#content #bg .indicator {
    background-color: #c00;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 #000;
    box-shadow: 0 0 0 0 #000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

#content #bg .indicator.d-4 {
    width: 4px;
    height: 4px;
    bottom: -2px;
}

#content #bg .indicator.d-6 {
    width: 6px;
    height: 6px;
    bottom: -3px;
}

#content #bg .indicator.d-8 {
    width: 8px;
    height: 8px;
    bottom: -4px;
}

#content #bg .indicator.d-10 {
    width: 10px;
    height: 10px;
    bottom: -5px;
}

#content #bg #lobbyVideo {
    position: absolute;
    top: 29.8%;
    left: 46.9%;
    width: 7.5%;
    height: 7.7%;
}

#content #bg #lobbyVideo .indicator {
    bottom: 47%;
    left: 50%;
}

#content #bg #enterHall {
    position: absolute;
    top: 29.9%;
    left: 29%;
    width: 8.5%;
    height: 9.1%;
}

#content #bg #enterAudi {
    position: absolute;
    top: 19.6%;
    left: 46.8%;
    width: 10.4%;
    height: 6.9%;
}

#content #bg #enterAudi .indicator {
    left: 45%;
}

#content #bg #enterLounge {
    position: absolute;
    top: 29.6%;
    left: 64.5%;
    width: 8.4%;
    height: 9.6%;
}

#content #bg #showAgenda {
    position: absolute;
    top: 41.9%;
    left: 62.5%;
    width: 3.8%;
    height: 2%;
}

#content #bg #showAgenda .indicator {
    bottom: -10%;
    left: 45%;
}

#content #bg #showResource {
    position: absolute;
    top: 44.9%;
    left: 62.5%;
    width: 3.8%;
    height: 2%;
}

#content #bg #showResource .indicator {
    bottom: -20%;
    left: 45%;
}

#content #bg #gotoCert {
    position: absolute;
    top: 42.2%;
    left: 70.6%;
    width: 3.8%;
    height: 9.4%;
}

#content #bg #stall1 .indicator {
    bottom: -15%;
    left: 45%;
}

#content #bg #stall1 {
    position: absolute;
    top: 33.2%;
    left: 75.5%;
    width: 7.8%;
    height: 6.4%;
}

#content #bg #stall2 .indicator {
    bottom: -25%;
    left: 45%;
}

#content #bg #stall2 {
    position: absolute;
    top: 32.5%;
    left: 19.1%;
    width: 7.8%;
    height: 6.4%;
}

#content #bg #supportid .indicator {
    bottom: -10%;
    left: 45%;
}

#content #bg #supportid {
    position: absolute;
    top: 39.8%;
    left: 30.1%;
    width: 4.8%;
    height: 11.4%;
}

#content #bg #gotoCert .indicator {
    bottom: -10%;
    left: 45%;
}

#content #bg #cert-area {
    position: absolute;
    top: 90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 566px;
    height: 430px;
}

#content #bg #cert-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#content #bg #cert-area:before {
    display: block;
    padding-top: 71%;
    content: '';
}

#content #bg #certText {
    position: absolute;
    top: 70px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
}

#content #bg #dlCert {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #01bcdf;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 6px;
    margin-top: 40px;
}

#content #bg .cert .name-text {
    position: absolute;
    top: 53%;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #363435;
    font-size: 21px;
    font-family: ui-serif;
}

#content #bg #webcast-area {
    position: absolute;
    top: 29.2%;
    left: 31.1%;
    width: 37.6%;
    height: 27.4%;
    background-color: #000;
}

#content #bg #webcast-area #goFS {
    position: absolute;
    bottom: -15px;
    right: 0;
    font-size: 0.5em;
    background-color: #c00;
    padding: 0px 3px;
    letter-spacing: 0.15em;
    color: #fff;
}

#content #bg #exhVideo {
    position: absolute;
    top: 29%;
    left: 26.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo1 {
    position: absolute;
    top: 29%;
    left: 40.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo1 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo2 {
    position: absolute;
    top: 29%;
    left: 53.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo2 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo3 {
    position: absolute;
    top: 29%;
    left: 67.2%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo3 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo4 {
    position: absolute;
    top: 43.8%;
    left: 26.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo4 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo5 {
    position: absolute;
    top: 44%;
    left: 40.5%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo5 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo6 {
    position: absolute;
    top: 44%;
    left: 53.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo6 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo_1 {
    position: absolute;
    top: 29%;
    left: 26.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo_1 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo1_1 {
    position: absolute;
    top: 29%;
    left: 40.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo1_1 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo21 {
    position: absolute;
    top: 30%;
    left: 51.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo21 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo31 {
    position: absolute;
    top: 29.8%;
    left: 63.9%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo31 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo41 {
    position: absolute;
    top: 39.8%;
    left: 26.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo41 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo51 {
    position: absolute;
    top: 39.8%;
    left: 40.5%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo51 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo61 {
    position: absolute;
    top: 40%;
    left: 51.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo61 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo7 {
    position: absolute;
    top: 49%;
    left: 51.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo7 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo8 {
    position: absolute;
    top: 49%;
    left: 26.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo8 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo9 {
    position: absolute;
    top: 49%;
    left: 39.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo9 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo10 {
    position: absolute;
    top: 40%;
    left: 64.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo10 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo11 {
    position: absolute;
    top: 57%;
    left: 45.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo11 .indicator {
    bottom: 50%;
    left: 40%;
}

#content #bg #exhVideo12 {
    position: absolute;
    top: 48%;
    left: 64.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo12 .indicator {
    bottom: 50%;
    left: 40%;
}


/* #content #bg #exhVideo7 {
    position: absolute;
    top: 20%;
    left: 26.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo7 .indicator {
    bottom: 50%;
    left: 40%;
}
#content #bg #exhVideo7 {
    position: absolute;
    top: 20%;
    left: 26.8%;
    width: 9.3%;
    height: 8.8%;
}

#content #bg #exhVideo7 .indicator {
    bottom: 50%;
    left: 40%;
} */

#content #bg #bondk {
    position: absolute;
    top: 33.2%;
    left: 22.5%;
    width: 5.7%;
    height: 11%;
}

#content #bg #esoz {
    position: absolute;
    top: 37.0%;
    left: 32.3%;
    width: 5.7%;
    height: 11%;
}

#content #bg #bonnxt {
    position: absolute;
    top: 33%;
    left: 47.3%;
    width: 5.7%;
    height: 11%;
}

#content #bg #bonk2 {
    position: absolute;
    top: 36%;
    left: 61.4%;
    width: 5.7%;
    height: 11%;
}

#content #bg #dubinor {
    position: absolute;
    top: 47%;
    left: 16.8%;
    width: 7.2%;
    height: 13.2%;
}

#content #bg #milicalod3 {
    position: absolute;
    top: 46.5%;
    left: 37.4%;
    width: 6.0%;
    height: 10.6%;
}

#content #bg #dubinor-ointments {
    position: absolute;
    top: 46.0%;
    left: 57.4%;
    width: 5.6%;
    height: 10.6%;
}

#content #bg #bmdcamp {
    position: absolute;
    top: 42%;
    left: 78.1%;
    width: 6.6%;
    height: 14.2%;
}

#content #bg #ebovpg {
    position: absolute;
    top: 53.7%;
    left: 29.6%;
    width: 7.6%;
    height: 13.8%;
}

#content #bg #vkonnecthealth {
    position: absolute;
    top: 53.2%;
    left: 64.2%;
    width: 7.6%;
    height: 13.6%;
}

#content #bg #shareCards,
#content #bg #chatAttendees {
    position: absolute;
    top: 16.5%;
    left: 37.5%;
    width: 11.1%;
    height: 11.6%;
}

#content #bg #chatAttendees {
    left: 52.1% !important;
}

#content #bg #audiAgenda,
#content #bg #audiDay1,
#content #bg #audiDay2,
#content #bg #ask-ques,
#content #bg #take-poll {
    background-color: #000;
    width: 120px;
    position: absolute;
    top: 37.5%;
    left: 0;
    border-radius: 0 6px 6px 0;
    text-align: center;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
}

#content #bg #audiAgenda a,
#content #bg #audiDay1 a,
#content #bg #audiDay2 a,
#content #bg #ask-ques a,
#content #bg #take-poll a {
    display: block;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
}

#content #bg #audiAgenda a:hover,
#content #bg #audiDay1 a:hover,
#content #bg #audiDay2 a:hover,
#content #bg #ask-ques a:hover,
#content #bg #take-poll a:hover {
    text-decoration: none;
}

#content #bg #audiAgenda i,
#content #bg #audiDay1 i,
#content #bg #audiDay2 i,
#content #bg #ask-ques i,
#content #bg #take-poll i {
    display: block;
    margin-bottom: 5px;
}

#content #bg #ask-ques,
#content #bg #take-poll {
    left: auto !important;
    right: 0;
    top: 37.5%;
    border-radius: 6px 0 0 6px !important;
}

#content #bg #take-poll {
    top: calc(37.5% + 60px);
}

#content #bg #audiDay1 {
    top: calc(40.5% + 60px);
}

#content #bg #audiDay2 {
    top: calc(37.5% + 100px);
}

#content #bg .panel {
    position: absolute;
    top: 60px;
    right: -300px;
    width: 300px;
    height: calc(100vh - 100px);
    cursor: pointer;
    background-color: #adb5bd;
    font-size: 1em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    overflow-y: auto;
}

#content #bg .panel .panel-heading {
    background-color: #212529;
    text-transform: uppercase;
    padding: 5px 10px;
    position: relative;
    font-size: 1.25em;
    color: #EEEEEE;
}

#content #bg .panel .panel-heading .close {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 1em;
    color: #ccc;
    background-color: #c00;
    padding: 2px 4px 3px 4px;
}

#content #bg .panel .panel-content {
    padding: 10px;
}

#content #bg .panel .panel-content .form-check-input {
    margin-left: 0 !important;
}

#content #bg .panel.show {
    right: 0 !important;
}

#content #bg #back-button {
    position: absolute;
    background-color: #072d45;
    padding: 5px 10px;
    border-radius: 4px;
    top: 80px;
    left: 15px;
}

#content #bg #back-button a,
#content #bg #back-button a:hover {
    color: #fff;
}

#content #bg.bondk #subSampleReq {
    position: absolute;
    top: 25.4%;
    left: 77.7%;
    width: 8.3%;
    height: 9.7%;
}

#content #bg.bondk #subProdDet {
    position: absolute;
    top: 37.6%;
    left: 81.6%;
    width: 5.4%;
    height: 7.4%;
}

#content #bg.bondk #poster1 {
    position: absolute;
    top: 26.0%;
    left: 24.8%;
    width: 10.4%;
    height: 21.4%;
}

#content #bg.bondk #poster2 {
    position: absolute;
    top: 25.3%;
    left: 61.8%;
    width: 12.4%;
    height: 23.5%;
}

#content #bg.esoz #subSampleReq {
    position: absolute;
    top: 25.3%;
    left: 77.6%;
    width: 8.5%;
    height: 9.8%;
}

#content #bg.esoz #subProdDet {
    position: absolute;
    top: 37.8%;
    left: 81.2%;
    width: 6.1%;
    height: 7.4%;
}

#content #bg.esoz #poster1 {
    position: absolute;
    top: 26%;
    left: 24.8%;
    width: 10.4%;
    height: 21.2%;
}

#content #bg.esoz #poster2 {
    position: absolute;
    top: 25.4%;
    left: 61.6%;
    width: 12.5%;
    height: 23.5%;
}

#content #bg.bonnxt #subSampleReq {
    position: absolute;
    top: 23.8%;
    left: 73.7%;
    width: 8.4%;
    height: 10.3%;
}

#content #bg.bonnxt #subProdDet {
    position: absolute;
    top: 35.5%;
    left: 76.4%;
    width: 5.8%;
    height: 7.0%;
}

#content #bg.bonnxt #poster1 {
    position: absolute;
    top: 25.8%;
    left: 28.6%;
    width: 11.0%;
    height: 18.6%;
}

#content #bg.bonnxt #poster2 {
    position: absolute;
    top: 22.9%;
    left: 59.3%;
    width: 12.5%;
    height: 22.5%;
}

#content #bg.bonnxt #video1 {
    position: absolute;
    top: 29.9%;
    left: 46%;
    width: 9.4%;
    height: 11.2%;
}

#content #bg.bonk2 #subSampleReq {
    position: absolute;
    top: 23.8%;
    left: 72.7%;
    width: 8.4%;
    height: 9.3%;
}

#content #bg.bonk2 #subProdDet {
    position: absolute;
    top: 34.5%;
    left: 74.4%;
    width: 5.8%;
    height: 7.0%;
}

#content #bg.bonk2 #poster1 {
    position: absolute;
    top: 24.6%;
    left: 28.8%;
    width: 10.2%;
    height: 19.2%;
}

#content #bg.bonk2 #poster2 {
    position: absolute;
    top: 23.9%;
    left: 57.8%;
    width: 12.5%;
    height: 21.5%;
}

#content #bg.bonk2 #video1 {
    position: absolute;
    top: 29.9%;
    left: 46%;
    width: 9.8%;
    height: 8.8%;
}

#content #bg.dubinor #subSampleReq {
    position: absolute;
    top: 23.8%;
    left: 72.7%;
    width: 8.5%;
    height: 9.5%;
}

#content #bg.dubinor #subProdDet {
    position: absolute;
    top: 34.5%;
    left: 74.4%;
    width: 5.8%;
    height: 7.6%;
}

#content #bg.dubinor #poster1 {
    position: absolute;
    top: 25.9%;
    left: 24.9%;
    width: 10.2%;
    height: 21.2%;
}

#content #bg.dubinor #poster2 {
    position: absolute;
    top: 25.2%;
    left: 61.6%;
    width: 12.4%;
    height: 23.5%;
}

#content #bg.milicalod3 #subSampleReq {
    position: absolute;
    top: 32.2%;
    left: 8.8%;
    width: 8.5%;
    height: 13.5%;
}

#content #bg.milicalod3 #dlBrochure {
    position: absolute;
    top: 34.2%;
    left: 68.7%;
    width: 8.6%;
    height: 10.6%;
}

#content #bg.milicalod3 #poster1 {
    position: absolute;
    top: 33.6%;
    left: 19.6%;
    width: 13.8%;
    height: 22.2%;
}

#content #bg.milicalod3 #poster2 {
    position: absolute;
    top: 34.4%;
    left: 55.5%;
    width: 11.9%;
    height: 20.3%;
}

#content #bg.dubinor-ointments #subSampleReq {
    position: absolute;
    top: 25.4%;
    left: 77.6%;
    width: 8.5%;
    height: 9.5%;
}

#content #bg.dubinor-ointments #subProdDet {
    position: absolute;
    top: 37.5%;
    left: 81.4%;
    width: 5.7%;
    height: 7.6%;
}

#content #bg.dubinor-ointments #poster1 {
    position: absolute;
    top: 26.2%;
    left: 24.9%;
    width: 10.3%;
    height: 21.2%;
}

#content #bg.dubinor-ointments #poster2 {
    position: absolute;
    top: 25.2%;
    left: 61.7%;
    width: 12.4%;
    height: 23.4%;
}

#content #bg.bmdcamp #subCampReq {
    position: absolute;
    top: 27.2%;
    left: 9.1%;
    width: 7.6%;
    height: 10.5%;
}

#content #bg.bmdcamp #dlBrochure {
    position: absolute;
    top: 29.0%;
    left: 68.9%;
    width: 8.2%;
    height: 8.4%;
}

#content #bg.bmdcamp #poster1 {
    position: absolute;
    top: 25.6%;
    left: 19.2%;
    width: 12.8%;
    height: 23.2%;
}

#content #bg.bmdcamp #poster2 {
    position: absolute;
    top: 26.6%;
    left: 55.5%;
    width: 10.9%;
    height: 21.3%;
}

#content #bg.ebovpg #subSampleReq {
    position: absolute;
    top: 26.8%;
    left: 76.2%;
    width: 8%;
    height: 9.1%;
}

#content #bg.ebovpg #subProdDet {
    position: absolute;
    top: 38.5%;
    left: 79.8%;
    width: 5.4%;
    height: 6.8%;
}

#content #bg.ebovpg #poster1 {
    position: absolute;
    top: 27.6%;
    left: 26.2%;
    width: 9.6%;
    height: 19.8%;
}

#content #bg.ebovpg #poster2 {
    position: absolute;
    top: 26.8%;
    left: 60.9%;
    width: 11.8%;
    height: 22.3%;
}

#content #bg.vkonnect #subProdDet {
    position: absolute;
    top: 37.1%;
    left: 6.8%;
    width: 5.6%;
    height: 7.4%;
}

#content #bg.vkonnect #poster1 {
    position: absolute;
    top: 24.9%;
    left: 20.0%;
    width: 16.2%;
    height: 23.8%;
}

#content #bg.vkonnect #poster2 {
    position: absolute;
    top: 25.4%;
    left: 56.4%;
    width: 14.0%;
    height: 22.1%;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
    }
}

@media only screen and (max-width: 770px) {
    #content #bg #dlCert {
        left: 109% !important;
        top: 10px !important;
    }
    #audiAgenda,
    #audiDay1,
    #audiDay2,
    #ask-ques,
    #take-poll {
        top: 25.5% !important;
        width: 100px !important;
    }
    #audiAgenda a,
    #audiDay1 a,
    #audiDay2 a,
    #ask-ques a,
    #take-poll a {
        font-size: 1em !important;
        padding: 8px 4px !important;
    }
    #audiAgenda i,
    #audiDay1 i,
    #audiDay2 i,
    #ask-ques i,
    #take-poll i {
        margin-bottom: 5px;
    }
    #ask-ques,
    #take-poll {
        top: 32.5%;
        border-radius: 6px 0 0 6px !important;
    }
    #take-poll {
        top: calc(22.5% + 80px) !important;
    }
    #audiDay1 {
        top: calc(25.5% + 60px) !important;
    }
    #audiDay2 {
        top: calc(25.5% + 100px) !important;
    }
    .panel {
        right: -200px !important;
        width: 200px !important;
        font-size: 0.8em !important;
    }
    .panel .panel-heading {
        padding: 5px 10px;
        font-size: 1em;
    }
    .panel .panel-heading .close {
        right: 10px;
        top: 7px;
        font-size: 1em;
        padding: 2px 4px 3px 4px;
    }
    .panel .panel-content {
        padding: 10px;
    }
}

.modal {
    outline: 0;
}

.modal#attendees .modal-dialog,
.modal#confAgenda .modal-dialog {
    width: 90% !important;
    max-width: 800px !important;
    height: 80vh;
    max-height: 600px;
}

.modal .search-area form .input {
    width: 100%;
}

.modal .modal-dialog {
    -webkit-transition: all 0.12s ease-out;
    transition: all 0.12s ease-out;
    width: 80%;
    max-width: 650px;
    height: 70vh;
    max-height: 600px;
}

.modal .modal-dialog .modal-content {
    border: 0;
}

.modal .modal-dialog .modal-content .modal-header {
    background-color: #072d45;
}

.modal .modal-dialog .modal-content .modal-header h5.modal-title {
    margin: 0;
    font-size: 1.25em;
    color: #fff;
}

.modal .modal-dialog .modal-content .modal-header .close {
    padding: 0px 10px;
    margin: -1rem 0rem -1rem auto;
    background-color: #c00;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    border: 0;
}

.modal .modal-dialog .modal-content .modal-header .close:focus {
    outline: none !important;
}

.modal .modal-dialog .modal-content .modal-body {
    padding: 0em;
    color: #616161;
    background-color: #F5F5F5;
}

.modal .modal-dialog .modal-content .modal-body iframe {
    width: 100%;
    height: 100%;
}

.modal .modal-dialog .modal-content .modal-body .search-area {
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 10px;
}

.modal .modal-dialog .modal-content .modal-body .search-area button {
    border: 1px solid #ccc;
    padding: 4px 12px;
    margin: 0 5px 0 0;
    border-radius: 4px;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList {
    border: 1px solid #e0e0e0;
    padding: 0;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee {
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee .attendee-actions {
    position: absolute;
    top: 7px;
    right: 10px;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee .attendee-actions button {
    border: none;
    background-color: #BDBDBD;
    padding: 4px 8px;
    color: #EEEEEE;
}

.modal .modal-dialog .modal-content .modal-body .content {
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    width: 95%;
    margin: 10px auto;
}

.modal .modal-dialog .modal-content .modal-body .content a {
    color: #007cb0;
}

.modal-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0px solid #ccc;
    height: 40px;
    margin-bottom: 5px;
}

.modal-tabs:before {
    display: table-cell;
    content: '';
}

.modal-tabs li {
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
}

.modal-tabs li a {
    color: #797878;
    padding: 18px 25px;
}

.modal-tabs li.active {
    border-top: 2px solid #232f3e;
    background-color: #EEEEEE;
}

.modal-tabs li.active a {
    color: #464646;
    font-weight: 600;
}

ul#pollResults {
    margin: 0;
    padding: 0;
}

ul#pollResults li {
    display: block;
    border: solid 1px #ddd;
    padding: 14px;
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
}

ul#pollResults li .perc-back {
    background: #d2dfe5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    z-index: -1;
}

ul#pollResults li label {
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
}

ul#pollResults li .perc-number {
    float: right;
}

.e-card {
    width: 100%;
}

.e-card .ecard {
    background-color: #29396f;
    padding: 40px;
    border-radius: 12px;
    position: relative;
    color: #fff;
    -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.45);
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.45);
}

.e-card .ecard .name {
    font-size: 1.75em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px #000;
    text-transform: uppercase;
}

.e-card .ecard .info {
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 50px;
}

.e-card .ecard .info2 {
    font-size: 1em;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.ui-dialog {
    border: 0px solid #e73f8c;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 80% !important;
    height: 60% !important;
    max-width: 900px;
    max-height: 450px;
    overflow: auto;
    background-color: #fff;
}

.ui-dialog .ui-dialog-content {
    padding: 0 !important;
}

.ui-dialog.attendeechat {
    max-width: 400px;
    max-height: 400px;
    /* position: absolute;
            bottom: 70px !important;
            top: auto !important;
            right: 15px;
            left: auto !important;*/
}

.ui-dialog.talktoteam {
    max-width: 400px;
    max-height: 400px;
    position: absolute;
    bottom: 70px !important;
    top: auto !important;
    right: 15px;
    left: auto !important;
}

.ui-dialog .ui-widget-header {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.ui-dialog .ui-dialog-title {
    text-transform: uppercase;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: none;
    border: none;
    border-radius: 0;
    width: 30px;
    height: 30px;
    background-image: url(../img/close.png);
    background-size: cover;
    background-position: center center;
    margin-top: -16px;
    margin-left: -18px;
}

.ui-dialog .ui-dialog-titlebar-close:focus {
    outline: none;
}

.ui-dialog .attendee_chat_box,
.ui-dialog #talktous {
    height: 350px !important;
    overflow: hidden;
}

#talktous {
    background-color: #fff;
    color: grey;
    padding: 10px;
    margin: 0 auto;
}

#talktous #chat_team .chat_history {
    height: 225px;
    border: 1px solid #e9ecef;
    background-color: #f8f9fa;
    overflow-y: auto;
    margin-bottom: 15px;
}

#talktous #chat_team .form-group {
    margin-bottom: 0.25em;
}


/*# sourceMappingURL=styles.css.map */